/* Color Palette */
$blue-custom: #4B6587;
$cream-custom: #F0E5CF;
$gray-custom: #C8C6C6;
$white-custom: #F7F6F2;

main {
    background-color: $white-custom;
}


nav {
    background-color: $blue-custom;
}

.home_page {
    background-color: $white-custom;
}

.container {
    background-color: $blue-custom;
    
}

/* shift+option+A */


