input#name {
    width: 80%;
}

form {
    margin-top: 30px;

    label {
        color: #F7F6F2;
        font-size: 1.5vw;
        font-family: 'Fredoka', sans-serif;
    }

    input {
        height: 25px;
        border-radius: 5px;
        border: none;
        padding: 5px;
        font-family: 'Fredoka', sans-serif;
    }
}

h4 {
    width: 100%;
    color: #F7F6F2;
    font-family: 'Cute Font', cursive;
    font-size: 3.5vw;
    background-color: #212121;
    text-align: center;
    border-radius: 10px;
}

label, input, select, textarea {
    display: block;
    margin-bottom: 5px;
    font-weight: 300;
}

input[type="submit"] {
    display: block;
    margin-top: 20px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    justify-content: flex-start; 

    input[type="checkbox"] {
        display: none;
    }

    label {
        cursor: pointer;
        margin-right: 10px;
    }

    label:hover {
        text-decoration: underline;
    }

    input[type="checkbox"]:checked + label {
        font-weight: bold;
    }
}


select#pastaType {
    font-family: 'Fredoka', sans-serif;
    width: 50%;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.radioGroup {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    input[type="radio"] {
        margin-right: 10px;
    }

    label {
        margin-right: 30px;
        font-family: 'Fredoka', sans-serif;
    }
}


.customFileUpload {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 150px;
    vertical-align: top;
    margin-right: 0;

    input[type="file"] {
        height: 150px;
        opacity: 0;
        position: absolute;
        cursor: pointer;
        z-index: 1;
    }
}

.uploadBox {
    position: relative;
    width: 80%;
    height: 150px;
    background-color: #F7F6F2;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 0;

    img {
        height: 2rem;
        font-size: 48px;
        color: #000000;
    }
}


textarea#notes {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Fredoka', sans-serif;
}

.button-group {
    display: flex;
    gap: 10%;
    margin-top: 20px;
    justify-content: center;

    button {
        width: 45%;
        font-size: 1.5vw;
        font-family: 'Fredoka', sans-serif;
        padding: 15px;
        border: none;
        border-radius: 30px;
        box-shadow: 2px 2px 2px 1px #0000001a;
    }

    #resetBtn {
        background-color: #C8C6C6;
    }
    
    #addBtn {
        color: #F7F6F2;
        background-color: #212121;
    }
}

.form-element {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    clear: both; /* to clear the floating elements */

    label {
        margin-top: 0;
        font-size: 1.5vw;
    }
}


.date-element {
  display: flex;
  flex-direction: row;
  align-items: center;

  label {
    margin-right: 20px;
  }
}


.date-name {
    float: left;
    width: 50%;
    padding: 20px 0;
}