.popup {
    width: 60vw;
    position: fixed;
    top:50%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
}

.popup-content {
    position: relative;
    background-color: #F7F6F2;
    padding: 5vw 3vw;
    max-width: 100%;
    text-align: center;
    border-radius: 10px;

    h2 {
        font-weight: lighter;
        margin-bottom: 1rem;
        font-family: Fredoka,sans-serif;
        font-size: 3vw;
    }

    p {
        text-align: left;
        color: #212121;
        margin: 1rem;
    }

    .popup-image {
        width: 90%;
        height: auto;
        border: 3px solid #ABABAB;
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        object-fit: cover;
        aspect-ratio: 3/2;
    
    }
    
    button {
        font-family: Fredoka,sans-serif;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        font-size: 1.5vw;
        font-weight: lighter;
    }
    
    .close-btn {
        background: #C8C6C6;
        padding: 6px 20px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
      
    .delete-btn2 {
        color: #F7F6F2;
        background-color: #4B6587;
        margin-top: 10px;
        padding: 10px 30px;
    }
}
  
.delete-btn2:hover {
    background-color: #212121;
}
  
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9998;
    display: none;
}

/* Add this style to the body when the popup is open */
.popup-open {
    overflow: hidden;
}